<div class="w-[90%] mx-auto mt-4">
  <div class="text-4xl font-semibold">My Orders</div>
  <div class="text-right">
    <select class="border border-black py-1 pr-16 font-semibold">
      <option value="">Last 7 Days</option>
    </select>
  </div>
  <div class="min-w-[720px]">
    <table class="w-full mt-10 overflow-clip table-fixed rounded-2xl">
      <thead>
        <tr class="uppercase bg-gray-100">
          <th class="py-5">order no.</th>
          <th class="py-5">customer name</th>
          <th class="py-5">paymant status</th>
          <th class="py-5">amount(Rs)</th>
          <th class="py-5">address</th>
          <th class="py-5">order date</th>
          <th class="py-5">status</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
        <tr class="border-t-2 even:bg-gray-100">
          <td class="py-3">300</td>
          <td class="py-3">John</td>
          <td class="py-3">Paid</td>
          <td class="py-3">400</td>
          <td class="py-3">XYZ</td>
          <td class="py-3">19 March 2024</td>
          <td class="py-3">Confirmed</td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination -->
    <div class="col-span-2 sm:col-span-3">
      <div
        class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
      >
        <div class="flex flex-1 justify-between sm:hidden">
          <a
            class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            >Previous</a
          >
          <a
            class="relative ml-3 inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            >Next</a
          >
        </div>
        <div
          class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between"
        >
          <div>
            <p class="text-sm text-gray-700">
              Showing
              <span class="font-medium">1</span>
              to
              <span class="font-medium">10</span>
              of
              <span class="font-medium">100</span>
              results
            </p>
          </div>
          <div>
            <nav
              class="isolate inline-flex -space-x-px shadow-sm"
              aria-label="Pagination"
            >
              <a
                class="relative inline-flex items-center px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Previous</span>
                <i class="bi bi-chevron-left"></i>
              </a>
              <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
              <a
                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >1</a
              >
              <a
                aria-current="page"
                class="relative z-10 inline-flex items-center bg-gray-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >2</a
              >
              <a
                class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
                >3</a
              >
              <a
                class="relative inline-flex items-center px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Next</span>
                <i class="bi bi-chevron-right"></i>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination -->
  </div>
</div>
