<hr class="border-1 border-gray-900 m-4" />

<div class="flex justify-around">
  <div class="max-lg:hidden">
    <div class="text-center">
      <h1 class="text-4xl font-semibold p-2">Signup for our newsletter</h1>
      <p class="">
        Be the first to know about our special offers, news, and updates
      </p>
      <label for="search" class="sr-only">Newletter Email</label>
      <div class="relative pt-2">
        <input
          type="email"
          id="search"
          class="bg-white border border-gray-900 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Email Address"
        />
        <button
          type="button"
          class="absolute inset-y-0 end-0 flex items-center pe-3"
        >
          Sign UP
        </button>
      </div>
    </div>
  </div>

  <div class="">
    <div class="text-center grid grid-cols-3 p-2">
      <div class="xl:mr-20">
        <h1 class="font-bold">Haramayn</h1>
        <a routerLink="/"><p class="hover:underline hover:text-blue-400">Home</p></a>
        <a routerLink="/shop"><p class="hover:underline hover:text-blue-400">Shop</p></a>
        <a routerLink="/blog"><p class="hover:underline hover:text-blue-400">Blog</p></a>
        <a routerLink="/support"><p class="hover:underline hover:text-blue-400">Support</p></a>
        <a routerLink="/about"><p class="hover:underline hover:text-blue-400">About</p></a>
      </div>

      <div class="xl:mr-20">
        <h1 class="font-bold">Social Media</h1>
        <a><p>Facebook</p></a>
        <a><p>X/Twitter</p></a>
        <a><p>Instagram</p></a>
        <a><p>Snapchat</p></a>
        <a><p>Youtube</p></a>
      </div>

      <div class="xl:mr-20">
        <h1 class="font-bold">Our Services</h1>
        <a><p>Newsletter</p></a>
        <a><p>Payment Process</p></a>
        <a><p>Return Policy</p></a>
        <a><p>Preorder</p></a>
        <a><p>Legal</p></a>
      </div>
    </div>
  </div>
</div>

<div class="pb-20"></div>
