<div class="relative w-full">
  <div *ngFor="let slide of slidelist; index as i">

    <div *ngIf="i == 0" class="slide relative">
      <img class="w-full aspect-[2.05] object-cover" [src]="slide.src" />
      <div
        class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white"
      >
        {{ slide.text }}
      </div>
    </div>

    <div *ngIf="i != 0" class="hidden slide relative">
      <img class="w-full aspect-[2.05] object-cover" [src]="slide.src" />
      <div
        class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white"
      >
        {{ slide.text }}
      </div>
    </div>
  </div>

  <!-- The previous button -->
  <a
    class="absolute left-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white hover:text-amber-500 cursor-pointer"
    (click)="moveSlide(-1)"
    >❮</a
  >

  <!-- The next button -->
  <a
    class="absolute right-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white hover:text-amber-500 cursor-pointer"
    (click)="moveSlide(1)"
    >❯</a
  >
  
</div>
