<app-home-carousel></app-home-carousel>

<!-- Categories Start-->
<section id="categories">
  <h1 class="text-5xl text-center font-semibold pt-8">Categories</h1>
  <div class="grid md:grid-cols-3 max-md:grid-col-1">
    <p class="max-md:hidden"></p>
    <div class="text-center pt-4">
      <p>Get all kinds of perfumes from vast collection of Harmayn Miller.</p>
      <p>Which are carefully chosen for our customer needs.</p>
      <a routerLink="/shop">
        <button
          class="mt-4 border-2 border-black hover:border-blue-500 hover:text-blue-500 px-16 py-4 font-semibold"
        >
          Shop All
        </button>
      </a>
    </div>
    <p class="max-md:hidden"></p>
  </div>

  <div class="grid grid-cols-3 mx-auto max-w-[90%] px-2 sm:px-6 lg:px-8">
    <div class="px-4 py-20 hover:scale-125 duration-500" *ngFor="let category of categories_list">
      <img class="aspect-square w-full" [src]="category.image" />
      <p class="text-center font-semibold">{{ category.title }}</p>
    </div>
  </div>
</section>
<!-- Categories End-->

<!-- Our Latest Arrivals Start -->
<section id="latest arrivals">
  <h1 class="text-5xl text-center font-semibold pt-8">Our latest arrivals</h1>
  <div class="grid md:grid-cols-3 max-md:gri
  d-col-1">
    <p class="max-md:hidden"></p>
    <div class="text-center pt-4">
      <p>Change up your style with the newest selection of options</p>
      <p>These new arrivals will provide a new and refreashing look.</p>
      <a routerLink="/shop">
        <button
          class="mt-4 border-2 border-black hover:border-blue-500 hover:text-blue-500 px-16 py-4 font-semibold"
        >
          Shop All
        </button>
      </a>
    </div>
    <p class="max-md:hidden"></p>
  </div>

  <div
    class="grid grid-cols-3 mx-auto max-w-[90%] px-2 sm:px-6 lg:px-8 mt-20"
  >
    <div
      class="px-4 py-20 lg:hover:-mt-20 duration-500"
      *ngFor="let latest_arrival of latest_arrivals_list"
    >
      <img class="aspect-[1/1.5] w-full" [src]="latest_arrival.image" />
    </div>
  </div>
</section>
<!-- Our Latest Arrivals End -->

<!-- Our products Start-->
<section id="our products">
  <h1 class="text-5xl text-center font-semibold pt-8">Our products</h1>
  <div class="grid md:grid-cols-3 max-md:grid-col-1">
    <p class="max-md:hidden"></p>
    <div class="text-center pt-4">
      <p>
        We think this selection of products will be best suited for your needs.
      </p>
      <a routerLink="/shop">
        <button
          class="mt-4 border-2 border-black hover:border-blue-500 hover:text-blue-500 px-16 py-4 font-semibold"
        >
          Shop All
        </button>
      </a>
    </div>
    <p class="max-md:hidden"></p>
  </div>

  <div class="grid grid-cols-3 mx-auto max-w-[90%] px-2 sm:px-6 lg:px-8">
    <div class="px-4 py-20 hover:scale-125 duration-500" *ngFor="let our_products of our_products_list">
      <img class="aspect-square w-full" [src]="our_products.image" />
      <p class="font-semibold">{{ our_products.title }}</p>
      <p>{{ our_products.price }}</p>
    </div>
  </div>
</section>
<!-- Our products End-->
